:root {
  --background-color: #fffbf6;
  --ticker-background: #fdf8fc;
  --navbar-color: #ffedd4;
  --main-color: #606cc3;
  --primary-color: #7a77aa;
  --secondary-color: #b763c6;
  --tertiary-color: #fc346a;
  --header-font: "Montserrat", sans-serif;
  --main-font: "Bitter", serif;
  --logo-font: "Mandali", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  height: 100vh;
  overflow: hidden;
}

main {
  height: 100%;
  overflow-y: auto;
}

h1 {
  font-size: 60px;
  font-family: var(--main-font);
  padding: 50px 0 20px 0;
}

footer {
  font-size: 15px;
  text-align: center;
  font-family: var(--main-font);
  padding-bottom: 15px;
  color: var(--primary-color);
}

/*
.navbar {
  background-color: var(--navbar-color);
  padding: 5px 0 5px 0;
}

.navbar-items {
  padding-right: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--primary-color);
  font-family: var(--header-font);
}

.navbar-light .navbar-brand {
  color: var(--primary-color);
  font-family: var(--logo-font);
  font-size: 25px;
  padding-left: 50px;
}

.navbar-light .navbar-nav .nav-link .active {
  color: var(--primary-color);
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 700;
  color: var(--primary-color);
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  font-weight: 700;
  color: var(--primary-color);
} */

/* ticker annimation */

#ticker-background {
  background: var(--ticker-background);
}

.ticker-items {
  list-style: none;
  display: flex;
  font-size: 30px;
  padding: 15px 20px 15px 20px;
  color: var(--secondary-color);
  font-size: 23px;
  font-family: var(--header-font);
}

.ticker {
  animation: moveLeft 40s linear infinite;
}

.ticker li {
  padding: 0 10px 0 10px;
  white-space: nowrap;
}

.divider {
  color: var(--tertiary-color);
}

.representation {
  text-align: center;
  color: var(--main-color);
}

.footer-img {
  max-height: 15px;
  padding: 0 5px 0 5px;
}

.open-source {
  text-decoration: none;
  color: var(--primary-color);
  padding-left: 20px;
}

.open-source:hover {
  color: var(--secondary-color);
  font-weight: bolder;
}

.open-source:visited {
  color: var(--secondary-color);
}

/* .dot {
  height: 300px;
  width: 300px;
  background-color: #606cc3;
  border-radius: 50%;
  align-items: center;
} */

#portrait {
  max-width: 300px;
  align-items: center;
}

#flow {
  width: 600px;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 40px;
  max-width: 100%;
}

@keyframes moveLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-108rem, 0, 0);
  }
}

/* about section */

.about-me {
  padding: 30px 20px 20px 20px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 600;
  opacity: 0.75;
  line-height: 2;
}

#heading-about {
  font-size: 30px;
  line-height: 1.5;

  writing-mode: vertical-lr;
  text-orientation: upright;
  padding: 0;
}

#name-about {
  font-size: 40px;
  font-weight: bold;
}

#hobbies {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* projects section */

video {
  border-radius: 12px;
}

.heading {
  font-size: 45px;
  padding: 5px 0 0 0;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--ticker-background);
  font-size: 18px;
  padding: 10px 15px;
}

.btn-branding:hover {
  background: var(--tertiary-color);
  color: var(--ticker-background);
}

.more-soon {
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding: 40px;
  font-size: 50px;
}

/* conntact section */

.greeting {
  font-size: 35px;
  padding: 20px;
}

.contact {
  background: var(--tertiary-color);
  border-radius: 4px;
  color: var(--ticker-background);
  font-size: 18px;
  padding: 10px 15px;
}

.contact:hover {
  background: var(--secondary-color);
  color: var(--ticker-background);
}

.mail-to {
  padding: 20px;
}

#mail {
  padding: 80px;
}

/* navbar */

#logo {
  max-width: 50px;
  margin: 0;
  padding: 0;
}

nav {
  padding: 15px 0;
}

#nav-background {
  background-color: var(--navbar-color);
}

ul {
  margin: 0;
  padding: 0 60px 0 0;
}

nav li {
  list-style: none;
  display: inline;
  padding: 0 5px;
}

nav a {
  text-decoration: none;
  font-family: var(--header-font);
  font-size: 18px;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav.li a.active {
  color: var(--secondary-color);
}
