:root {
  --background-color: #fffbf6;
  --ticker-background: #fdf8fc;
  --navbar-color: #ffedd4;
  --main-color: #606cc3;
  --primary-color: #7a77aa;
  --secondary-color: #b763c6;
  --tertiary-color: #fc346a;
  --header-font: "Montserrat", sans-serif;
  --main-font: "Bitter", serif;
  --logo-font: "Mandali", sans-serif;
}

body {
  background-color: var(--background-color);
}

main {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  font-size: 60px;
  font-family: var(--main-font);
  color: var(--main-color);
  text-align: center;
  padding: 50px 0 20px 0;
}

/* navbar */

#logo {
  max-width: 90px;
  margin: 0;
  padding-left: 30px;
}

nav {
  padding: 5px 0;
}

#nav-background {
  background-color: var(--navbar-color);
}

.nav-ul {
  margin: 0;
  padding: 0 60px 0 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  list-style: none;
  display: inline;
  padding: 0 10px;
}

nav a {
  text-decoration: none;
  font-family: var(--header-font);
  font-size: 18px;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
.active {
  color: var(--secondary-color);
}

@keyframes moveLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-108rem, 0, 0);
  }
}

#ham {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: var(--navbar-color);
  color: var(--primary-color);
  transform: translateY(-100%);
  transition: transform 0.2s;
  list-style: none;
  text-decoration: none;
  padding-top: 4rem;
}

#ham,
#menu {
  display: none;
}

.showNav {
  transform: translateY(0);
}

/* ticker */

header {
  overflow: hidden;
}

#ticker-background {
  background: var(--ticker-background);
}

#ticker-background-about {
  background: #f7f9f0;
}

.ticker-items {
  list-style: none;
  display: flex;
  font-size: 30px;
  padding: 15px 20px 15px 20px;
  color: var(--secondary-color);
  font-size: 23px;
  font-family: var(--header-font);
}

.ticker {
  animation: moveLeft 40s linear infinite;
}

.ticker li {
  padding: 0 10px 0 10px;
  white-space: nowrap;
}

.divider {
  color: var(--tertiary-color);
}

.representation {
  text-align: center;
  color: var(--main-color);
}

/* home */

#portrait {
  max-width: 300px;
  border-radius: 100%;
  border: solid;
  border-width: 10px;
  border-color: var(--primary-color);
  align-items: center;
}

#flow {
  width: 600px;
  align-items: center;
  padding: 65px 0 40px 0;
  max-width: 100%;
}

/* about */

.about-me {
  padding: 30px 20px 20px 20px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 600;
  opacity: 0.75;
  line-height: 2;
}

#heading-about {
  font-size: 30px;
  line-height: 1.5;
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding: 0;
}

#name-about {
  font-size: 40px;
  font-weight: bold;
}

#hobbies {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* projects */

video {
  border-radius: 12px;
  max-width: 300px;
}

.heading {
  font-size: 45px;
  padding: 5px 0 0 0;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--ticker-background);
  font-size: 18px;
  padding: 10px 15px;
}

.btn-branding:hover {
  background: var(--tertiary-color);
  color: var(--ticker-background);
}

.more-soon {
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding: 40px;
  font-size: 50px;
}

/* conntact */

.greeting {
  font-size: 35px;
  padding: 20px;
}

.contact {
  background: var(--tertiary-color);
  border-radius: 4px;
  color: var(--ticker-background);
  font-size: 18px;
  padding: 10px 15px;
}

.contact:hover {
  background: var(--secondary-color);
  color: var(--ticker-background);
}

.mail-to {
  padding: 20px;
}

#mail {
  padding: 80px;
}

/* footer */

footer {
  font-size: 16px;
  text-align: center;
  font-family: var(--main-font);
  padding-bottom: 15px;
  color: var(--primary-color);
}

.footer-img {
  max-height: 15px;
  padding: 0 5px 0 5px;
}

.github {
  color: var(--primary-color);
  padding-left: 2px;
}

.github i {
  transform: translateY(2px);
}

.github:hover {
  color: var(--secondary-color);
}

.github:visited {
  color: var(--secondary-color);
}

/* media */

@media (min-width: 577px) {
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  main {
    height: 100%;
    overflow-y: auto;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
    padding: 10px 0;
  }

  #mail {
    font-size: 25px;
    padding: 12px 0;
  }

  .greeting {
    padding: 12px 0;
  }

  .contact {
  }

  #flow {
    padding: 10px 0;
  }
}
